.footer {
  margin-top: 40px;
  background-color: rgb(174, 177, 139);
}
footer {
  width: 80%;
  height: 60px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

footer ul li {
  list-style-type: none;
}
footer ul li a {
  color: rgba(19, 44, 48, 0.747);
  text-decoration: none;
}
